CI_ENVIRONMENT=development
APP_BASE_URL=http://localhost:8080/

APP_PORT=8080
LEGACY_PORT=8082
DB_PORT=3307
PMA_PORT=8081

DB_NAME=laporpak
DB_USER=laporuser
DB_PASSWORD=change-me
DB_ROOT_PASSWORD=change-me-too

ENCRYPTION_KEY=

SEED_ADMIN_PASSWORD=
